<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - motylkowa</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="page" class="container">
        <section id="Top" class ="col-xs-12 col-md-6">
            
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Brand.jpg" width="500" class="img-responsive"></a></li>
        </section>
   

    <!--
        <section class="col-xs-8 col-md-5">
            <button class="btn btn-default buttons" type="submit" <li><a asp-area="" asp-controller="Home" asp-action="About">O nas</a></li></button>
            <button class="btn btn-default " type="submit" <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li></button>
            <button class="btn btn-default fixed-bottom" type="submit" <li><a asp-area="" asp-controller="Home" asp-action="Contact">test1</a></li></button>
            <button class="btn btn-default span3 offset2" type="submit" <li><a asp-area="" asp-controller="Home" asp-action="Contact">test2</a></li></button>
          
        </section>
-->
        <div class="row">
            <div class="col-xs-2 col-md-2">
            <a class="btn btn-primary" type="button" role="button" asp-area="" asp-controller="Home" asp-action="About">O nas</a>
            </div>
            <div class="col-xs-3 col-md-3">
            <a class="btn btn-warning" type="button" role="button" asp-area=""  asp-controller="Home" asp-action="Contact">Dla rodziców</a>
            </div>
            <div class="col-xs-2 col-md-2">
            <a class="btn btn-warning" type="button" role="button" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
            </div>
            <div class="col-xs-2 col-md-2">
            <a class="btn btn-info" type="button" role="button" asp-area="" asp-controller="Home" asp-action="Contact">Galeria</a>
            </div>
            <div class="col-xs-2 col-md-2">
            <a class="btn btn-info" type="button" role="button" asp-area="" asp-controller="Home" asp-action="Contact">Cennik</a>
            </div>
     
        
            
          
        </div>

        
    </div>
        
    
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Motylkowa Kraina</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Motylkowa Kraina</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    
</body>
</html>
